<h1>로그인 페이지 만들기</h1>
{% if request.user.username %}

<form method="post" action="{% url 'accounts:logout' %}">
    {{ request.user.username }}님으로 로그인 됨
    <a href="{% url "accounts:profile" %}"><button type="button">마이페이지</button></a>
    {% csrf_token %}
    <button type="submit">로그아웃</button>
</form>
{% endif %}
{% if not request.user.username %}
    <a href="{% url "accounts:login" %}">로그인</a>
    <a href="{% url "accounts:signup" %}">회원가입</a>
    <a href="{% url "accounts:find_id" %}">아이디 찾기</a>
    <a href="{% url "accounts:find_pw" %}">비밀번호 찾기</a>
{% endif %}
<hr>